body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 90%)
}

#myH1{
    font-size: 4rem;
    font-family: "Arial",sans-serif;
    color: hsl(0, 0%, 25%);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid hsl(0, 0%, 0%);
    border-radius: 50px;
    padding: 30px;
    background-color: white;
}
#display{
    font-size: 5rem;
    font-family:  monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px hsl(0, 0%,0%,0.7);
    margin-bottom: 25px;
}

#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    pad: 10px,20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#startBtn{
    background-color: hsl(120, 73%, 55%);
}
#startBtn:hover{
    background-color: hsl(120, 73%, 45%);
}
#stopBtn{
    background-color: hsl(0, 96%, 55%);
}
#stopBtn:hover{
    background-color: hsl(0, 96%, 45%);
}
#resetBtn{
    background-color: hsl(190, 73%, 55%);
}
#resetBtn:hover{
    background-color: hsl(190, 73%, 45%);
}